.auth-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url('../../img/main/world.png') center/cover no-repeat;
}

.auth-card {
    background: white;
    padding: 40px;
    border-radius: 15px;
    width: 350px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.auth-card h2 {
    margin-bottom: 20px;
    color: #643411;
}

.auth-card input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.auth-btn {
    width: 100%;
    padding: 12px;
    background: #643411;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

.auth-btn:hover {
    background: #4a2c0f;
}

.auth-card a {
    color: #643411;
    text-decoration: none;
    font-weight: bold;
}
